*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Montserrat;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.page{
    padding:0;
    display:flex;
    flex-direction: column;
}

.video-bg {
    min-height: 650px;
    max-height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height:650px;
    object-fit: cover;
}
.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.video-bg__content {
    z-index: 2;
    display:flex;
    flex-direction: column;
    position: absolute;
    top:0;
    min-height: 650px;
    max-height: fit-content;
    width:100%;
    margin:0;
    color:white;
    background-color: rgba(0, 0, 0, 0.904);
}

div.ad{
    display:flex;
    flex-direction: row;
    margin-top:20px;
}
div.ad div.first_trio{
    display:flex;
    flex-direction: column;
    max-width: 50%;
}
div.ad div.second_trio{
    display:flex;
    flex-direction: column;
}

div.first_space{
    background-color:white;
    color:black;
}

div.content{
    position: relative;
}


button {
    border-radius: 10px;
    border-color:chocolate;
    padding: 10px;
    height:60px;
    width:220px;
    color:white;
    background-color: black;
}

@media screen and (min-width: 600px) {
    #logo { margin-top:39px;}
    .video-bg {
        min-height: 650px;
        max-height: 1000px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .video-bg__content {
        z-index: 2;
        display:block;
    }
    .video-bg video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        min-height: 650px;
        max-height: fit-content;
        object-fit: cover;
        margin:0;
    }
    
    
    header div.cap{
        display:flex;
        justify-content:space-between;
        margin-left: 130px;
        margin-right:130px;
    }
    body{
        /* margin-left:130px;
        margin-right:130px; */
    }
    header div.cap nav{
        margin-top:39px;
    }
    header div.cap nav ul li{
        position:relative;
        float:left;
    }
    header div.cap nav ul li:hover > ul{
        display:block;
    }
    header div.cap nav ul li ul{
        position:absolute;
        left:0;
        width:200px;
        display:none;
        background-color:rgb(255, 68, 0);
    }
    header div.cap nav ul li p{
        margin-bottom:0;
        padding-left: 10px;
    }
    header div.cap nav ul li ul li{
        width:100%;
        border:1px solid rgba(0,0,0,0,.1);
    }
    header div.cap nav ul li ul li a{
        padding-top:5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    header div.cap nav ul li ul li a:hover{
        background-color: rgb(173, 46, 0);
        text-decoration: none;
    }
    header div.cap nav ul li a{
        padding-left:10px;
        padding-right:10px;
        font-size:12px;
        color:white;
        display:block;
    }
    div.adv{
        padding-top:190px;
        margin-left: 130px;
        float:left;
    }
    div.advert1 h1{
        float:left;
    }
    div.advert1{
        border: 10px;
        border-color: chocolate;
    }
    div.ad{
        margin-left: 130px;
        margin-right:130px;
        display:flex;
        flex-direction: column;
        margin-top:204px;
    }
    div.ad div.first_trio{
        display:flex;
        flex-direction: row;
        max-width: none;
    }
    div.ad div.second_trio{
        display:flex;
        flex-direction: row;
    }


    div.first-space{
        background-color:white;
        color:black;
        margin-left:130px;
        margin-right:130px;
    }


    
    

}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}